<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="URL_GETFILALASTID" value="http://localhost/WiproPriceSystem.Api/api/v1/fila/lastid" />
    <add key="DIR_DADOSMOEDACSV" value="DadosMoeda.csv" />
    <add key="DIR_DADOSCOTACAOCSV" value="DadosCotacao.csv" />
  </appSettings>
</configuration>